:root {
  --side: #fcfcfc;
  --main: #fdfdfd;
  --text: #5d6c7b;
  --accent: #ebeef5;
  --dark: #4f5862;
  --red: #f33855;
  --light-red: #f7e4de;
  --blue: #5396e4;
  --light-blue: #dde8f4;
  --yellow: #fcba50;
  --light-yellow: #fbf1e7;
  --green: #dcf3f4;
  --light-green: #43bebf;
  --task-text: #858f99;
}

.container {
  border-radius: 10px;
  margin: 0 auto;
}
.grid {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas:
    "sidebar main main"
    "sidebar main main"
    "sidebar main main";
}
.task-menu-icon {
  margin-right: 0.8em;
}
.sidebar {
  grid-area: sidebar;
  background-color: var(--side);
  min-height: 100vh;
  padding: 2em 1.8em;
  color: var(--text);
  font-size: 1.6rem;
  display: flex;
  flex-direction: column;
}
.sidebar h1 {
  text-align: center;
  font-weight: 300;
}
.sidebar h1:last-of-type {
  margin-bottom: 0.5em;
}
.sidebar>a {
  text-decoration: none;
  background: var(--dark);
  border: none;
  font-size: 1.8rem;
  padding: 1.5rem;
  font-family: inherit;
  color: #ffff;
  border-radius: 5px;
  margin-top: 2em;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
}
.TaskList {
  overflow: auto;
  max-height: 500px;
}
.TaskList ul {
  list-style: none;
  margin: 2.4em 0;
}
.TaskList li {
  font-weight: 400;
  font-size: 2rem;
  margin-bottom: 1.2em;
  border-radius: 3px;
  cursor: pointer;
}
.TaskList a {
  text-decoration: none;
  color: var(--task-text);

  width: 100%;
  padding: 1em;
  display: flex;
  justify-content: space-between;
}
/* .TaskList li:hover {
  background-color: var(--accent);
} */
.TaskList a:hover,
a:focus,
a:active {
  background-color: var(--accent);
}

hr {
  border: 2px solid var(--dark);
}
.main {
  padding: 2em 2.8em;
  grid-area: main;
  min-height: 100vh;
  background-color: var(--main);
}
.MainHeader,
.SecondMainHeader {
  display: flex;
  justify-content: space-between;
  margin: 1.5em 0;
}
.MainHeader h1 {
  font-size: 3.6rem;
  color: var(--red);
}
.SecondMainHeader {
  margin: 3.5em 0;
}
.SecondMainHeader>a {
  text-decoration: none;
  cursor: pointer;
  padding: 0.8em 1em;
  border: none;
  border-radius: 5px;
  font-family: inherit;
  font-size: 1.8rem;
  background: var(--red);
  color: var(--light-red);
}
.TaskContainer {
  max-height: 520px;
  overflow: auto;
  background: var(--accent);
  padding: 2em;
  padding-bottom: 0;
  border-radius: 5px;
}
.TaskContainer div:first-of-type {
  position: relative;
}
.TaskContainer div:first-of-type > label {
  display: block;
  position: relative;
  padding-left: 35px;
  cursor: pointer;
  padding-top: 2px;
}
/* On mouse-over, add a grey background color */
.checkerContainer:hover input ~ .checker {
  background-color: var(--task-text);
}

/* When the checkbox is checked, add a blue background */
.checkerContainer input:checked ~ .checker {
  /* background-color: var(--red); */
}

/* Create the checker/indicator (hidden when not checked) */
.checker:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checker when checked */
.checkerContainer input:checked ~ .checker:after {
  display: block;
}

/* Style the checker/indicator */
.checkerContainer .checker:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
input[type="checkbox"] {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.checker {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #d4d8e0;
}
select {
  cursor: pointer;
  font-family: inherit;
  width: 20%;
  padding: 0.5em;
  border: none;
  box-shadow: 2px 4px 5px #e5e5e5;
  /* color: var(--red); */
  font-size: 1.6em;
  border-radius: 5px;
  font-weight: 400;
}
.Task {
  margin-bottom: 1.8rem;
  border-radius: 3px;
  color: var(--task-text);
  background: #ffffff;
  padding: 1.5rem;
  font-size: 1.8rem;
  display: flex;
  justify-content: space-between;
}

/* COLOR THEME */
.red {
  background: var(--red);
}
.light-red {
  background: var(--red);
}
.blue {
  background: var(--blue);
}
.yellow {
  background: var(--yellow);
}
.light-yellow {
  background: var(--light-yellow);
}
.green {
  background: var(--green);
}
.light-green {
  background: var(--light-green);
}
.overlay {
  position: absolute;
  display: flex;
  justify-content: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(0.5px);
  z-index: 5;
}
.modal {
  background: #f7f7f7;
  width: 60%;
  border-radius: 5px;
  padding: 2em;
  z-index: 6;
  top: 20%;
  position: absolute;
}
.modal-body {
  padding: 2em 0;
}
.modal-body > div{
  margin-bottom:3.5em;
  display:flex;
  gap:30px;
  align-items:flex-end;
}
.modal-body input[type="text"] {
  
  padding:.3em .5em;
  width: 80%;
  height: 40px;
  border: none;
  background: var(--accent);
  font-family: inherit;
  font-size:1.8rem;
}
.modal-body label {
  align-self: flex-end; 
  font-family:inherit;
  font-size:2rem;
 
}
.modal-body input[type="radio"] {
  margin-right:1.5em;
  height: 2rem;
  width: 2rem;
 
}

.modal-footer {
  display: flex;
  justify-content: flex-end;
  gap: 20px;
}
.modal-footer > a {
  font-size:1.6rem;
  display: inline-block;
  text-decoration: none;
  padding: 0.8em 2.6em;
  border-radius: 5px;
}
.modal-cancel{
  color:var(--text);
  border: 3px solid var(--text);
}
.modal-ok{
  color:var(--side);
  background-color:var(--text);
}
