:root {
  --side: #f8f8f8;
  --main: #fdfdfd;
  --text: #5d6c7b;
  --accent: #ebeef5;
  --dark: #2b2e44;
  --red: #ec5553;
  --light-red: #f7e4de;
  --blue: #3577d4;
  --light-blue: #5578c2;
  /* --yellow: #fcba50;
  --light-yellow: #fbf1e7;
  --green: #dcf3f4;
  --light-green: #43bebf; */
  --task-text: #858f99;
}

.container {
  border-radius: 10px;
  margin: 0 auto;
}
.grid {
  height: 100vh;
  position: relative;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas:
    "sidebar main main"
    "sidebar main main"
    "sidebar main main";
}
.task-menu-icon {
  display: flex;
  align-items: center;
}
.total-task-count {
  color: var(--red);
}
.sidebar {
  height: 100%;
  grid-area: sidebar;
  background-color: var(--side);
  padding: 2em 1.8em;
  color: var(--text);
  font-size: 1.6rem;
  display: flex;
  flex-direction: column;
}
.sidebar h1 {
  text-align: center;
  font-weight: 300;
  color: var(--dark);
}
.sidebar h3 {
  text-align: center;
  font-weight: 300;
  color: var(--dark);
}
.sidebar h1:last-of-type {
  margin-bottom: 0.5em;
}

.sidebar > a {
  text-decoration: none;
  background: var(--dark);
  border: none;
  font-size: 1.8rem;
  padding: 1.5rem;
  font-family: inherit;
  color: #ffff;
  border-radius: 5px;
  margin-top: 2em;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
}
.sidebar > a:hover {
  background: #17182e;
  color: #414258;
}
.TaskList {
  overflow: auto;
  max-height: 500px;
}
.TaskList ul {
  list-style: none;
  margin: 2.4em 0;
}
.TaskList li {
  font-weight: 400;
  font-size: 2rem;
  margin-bottom: 1.2em;
  border-radius: 3px;
  cursor: pointer;
  display: flex;
  gap: 5px;
}
.TaskList li > div {
  width: 100%;
}

.side-delete-task {
  background: var(--accent);
  color: var(--light-blue);
  padding: 0.5em;
  border-radius: 5px;
}
.side-delete-task:hover {
  width: 25px;
  height: 25px;
}
.side-bar-tasks {
  display: flex;
  justify-content: space-between;
  text-decoration: none;
  color: var(--light-blue);
  padding: 1em;
  width: 100%;
}

.TaskList a:hover,
a:focus,
a:active {
  background-color: var(--accent);
}

hr {
  border: 2px solid var(--dark);
}
.main {
  padding: 3em 2.8em 2.8em 2.8em;
  grid-area: main;
  height: 100vh;
  background-color: var(--main);
}

.SecondMainHeader {
  display: flex;
  justify-content: space-between;
  margin: 1.5em 0;
}
.MainHeader h1 {
  text-align: center;
  font-size: 4.8rem;
  color: var(--red);
}
.SecondMainHeader {
  margin: 3.5em 0;
}
.SecondMainHeader > a {
  text-decoration: none;
  cursor: pointer;
  padding: 0.8em 1em;
  border: none;
  border-radius: 5px;
  font-family: inherit;
  font-size: 1.8rem;
  background: var(--red);
  color: var(--light-red);
}
.SecondMainHeader > a:hover {
  background: #b24441;
  color: #b77371;
}
.NoTaskContainer {
  height:460px;
 
  border-radius: 5px;
  background: var(--accent);
  color: var(--task-text);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.NoTaskContainer h1 {
  font-size: 4.8rem;
  font-weight: 700;
  opacity: 0.3;
}
.TaskContainer {
  max-height: 70%;
  overflow: auto;
  background: var(--accent);
  padding: 2em;
  padding-bottom: 0;
  border-radius: 5px;
}
.TaskContainer div:first-of-type {
  position: relative;
}
.TaskContainer div:first-of-type > label {
  display: block;
  position: relative;
  padding-left: 35px;
  cursor: pointer;
  padding-top: 2px;
}
/* On mouse-over, add a grey background color */
.checkerContainer:hover input ~ .checker {
  background-color: var(--task-text);
}
.LabelDone {
  text-decoration: line-through;
  color: var(--red);
}

/* When the checkbox is checked, add a blue background */
.checkerContainer input:checked ~ .checker {
  background-color: var(--red);
}

/* Create the checker/indicator (hidden when not checked) */
.checker:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checker when checked */
.checkerContainer input:checked ~ .checker:after {
  display: block;
}

/* Style the checker/indicator */
.checkerContainer .checker:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
input[type="checkbox"] {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.checker {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #d4d8e0;
}
select {
  cursor: pointer;
  font-family: inherit;
  width: 30%;
  padding: 0.5em;
  border: none;
  box-shadow: 2px 4px 5px #e5e5e5;
  color: var(--red);
  font-size: 1.6em;
  border-radius: 5px;
  font-weight: 400;
}
.Task {
  margin-bottom: 1.8rem;
  border-radius: 3px;
  color: var(--task-text);
  background: #ffffff;
  padding: 1.5rem;
  font-size: 1.8rem;
  display: flex;
  justify-content: space-between;
}
.Task div:first-child {
  align-self: center;
}
.delete-task {
  padding: 0.5em;
  border-radius: 5px;
  background: var(--accent);
  color: var(--task-text);
  cursor: pointer;
}
.delete-task:hover {
  width: 25px;
  height: 25px;
}

.overlay {
  position: absolute;
  display: flex;
  justify-content: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(0.5px);
  z-index: 5;
}
.modal {
  background: #f7f7f7;
  width: 60%;
  border-radius: 5px;
  padding: 2em;
  z-index: 6;
  top: 20%;
  position: absolute;
}
.modal-body {
  padding: 2em 0;
  margin-bottom: 3.5em;
}
.modal-body > form {
  display: flex;
}
.modal-body input[type="text"] {
  padding: 0.3em 0.5em;
  width: 100%;
  height: 40px;
  border: none;
  background: #d6dbe6;
  opacity: 0.6;
  font-family: inherit;
  font-size: 1.8rem;
}
.modal-body label {
  align-self: flex-end;
  font-family: inherit;
  margin-right: 1em;
  font-size: 2rem;
}
.modal-body input[type="radio"] {
  margin-right: 1.5em;
  height: 2rem;
  width: 2rem;
}

.modal-footer {
  display: flex;
  justify-content: flex-end;
  gap: 20px;
}
.modal-footer > a,
.modal-footer button {
  cursor: pointer;
  font-size: 1.6rem;
  display: inline-block;
  text-decoration: none;
  padding: 0.8em 2.6em;
  border-radius: 5px;
}
.modal-cancel {
  color: var(--text);
  border: 3px solid var(--dark);
}
.modal-ok {
  border: none;
  color: var(--side);
  background-color: var(--dark);
}
.menuToggle {
  /* padding: 1em; */

  position: relative;
  z-index: 3;
  -webkit-user-select: none;
  user-select: none;
  height: 100vh;
}
.menuToggle input[type="checkbox"],
.open-modal {
  display: none;
}
/* TABLE SIZE */
@media screen and (max-width: 780px) {
  .grid {
    display: block;
  }
  .menuToggle {
    padding: 1em;
    position: absolute;
  }
  .menuToggle input[type="checkbox"] {
    display: block;
    width: 60px;
    height: 60px;
    position: absolute;
    top: -7px;
    left: -5px;
    cursor: pointer;

    opacity: 0; /* hide this */
    z-index: 4; /* and place it over the hamburger */

    -webkit-touch-callout: none;
  }

  .sidebar {
    top: 0;
    position: absolute;
    height: 100vh;
    width: 300px;
    left: 0;
    padding-top: 5em;
    -webkit-font-smoothing: antialiased;
    /* to stop flickering of text in safari */

    transform-origin: 0% 0%;
    transform: translate(-100%, 0);
    z-index: 1;
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  }
  .menuToggle input:checked ~ .sidebar {
    transform: none;
  }

  .open-modal {
    display: block;
    position: relative;
    z-index: 3;
    font-size: 3.2em;
    color: var(--light-blue);
  }
  .MainHeader h1 {
    font-size: 4.8rem;
  }
  .SecondMainHeader select {
    width: 30%;
  }
  .modal-footer > a,
  .modal-footer button {
    padding: 0.6em 1.6em;
    width: 60%;
  }
  .modal-footer {
    align-items: center;
    flex-direction: column;
    gap: 8px;
  }
  .modal {
    width: 80%;
    text-align: center;
  }
  .modal-cancel {
    order: 1;
  }
}

/* MOBILE */
@media screen and (min-width:320px) and (max-width: 425px) {
  .MainHeader{
    padding-top:2.5em;
  }
  .MainHeader h1 {
    font-size: 4.2rem;
  }
  .SecondMainHeader {
    flex-direction: column;
    gap: 25px;
    margin: 1.5em 0;
  }
  .SecondMainHeader select {
    order: -1;
    margin: 0 auto;
    width: 40%;
    text-align: center;
  }
  .SecondMainHeader a {
    text-align: center;
    margin-bottom:.5em;
  }
  .sidebar {
    width: 100vw;
  }
  .TaskContainer div:first-of-type > label {
    font-size: 1.6rem;
  }
  .TaskContainer {
    max-height: 400px;
  }
  
  .open-modal{
    font-size:2.4rem;
  }
  .NoTaskContainer h1{
    font-size:3.6rem;
  }
  .NoTaskContainer{
    height:380px;
    padding:2em;
  }

  
}
