*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Varela Round", sans-serif;
  width:100%;
  min-height:100vh;
  background:#EFEFEF;

}
html{
  font-size:10px;
}
