
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  :root {
    --background-main: #0d0c0b;
    --gray: #a5a5a5;
    --light-gray: #eeeeee;
    --main-red: #672c2c;
    --notif-red: #fd6d73;
    --text-red: #3e0e0e;
    --main-green: #589d8c;
    --text-green: #1C624C;
    --notif-green: #59a765;
    --main-yellow: #fdd273;
    --text-yellow: #b58a2a;
    --main-purple: #756aa5;
    --text-purple: #393060;
    --border-red: #410807;
    --border-green: #136550;
    --border-yellow: #edb843;
    --border-purple: #22116a;
    
    
  }
  html {
    font-size: 10px;
  }
  body {
    font-family: Georgia, "Times New Roman", Times, serif;
    background: var(--background-main);
  }
  .hidden{
    display: none;
  }
  .container {
    max-width: 75%;
    margin: 0 auto;
    padding: 7em 0;
  }
  .flex-container {
    display: flex;
  }
  .grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: auto;
    gap: 30px;
  }
  .main-wrapper {
    position: relative;
    background-color: #0d0c0b;
  }
  .main-wrapper::before {
    height: 100vh;
    display: inline-block;
    content: "";
    mix-blend-mode: screen;
    opacity: 0.1;
    background-image: url(../images/main-bg-overlay.png);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
  
  header {
    gap: 50px;
  }
  .main-header {
    padding: 2.5em 3em;
    background: #0f0f0f;
    position: relative;
    z-index: 1;
  }
  .header-icon {
    width: 3em;
    align-self: flex-start;
  }
  .header-menu-wrapper h2 {
    color: var(--gray);
    font-weight: 600;
    font-size: 1.4rem;
  }
  .life,
  .energy,
  .coins,
  .pasilip {
    gap: 7px;
    align-items: center;
  }
  .header-points {
    color: var(--light-gray);
    font-weight: 800;
    font-size: 1.75rem;
    display: inline-block;
  }
  .header-menu-wrapper {
    position: relative;
  }
  .header-menu-wrapper span {
    color: var(--gray);
  }
  .silip-message{
    text-transform: uppercase;
    padding:.2em;
    border-radius:3px;
  }
  .silip-not-available{
    background:var(--text-purple);
    color:var(--light-gray);
  }
  .silip-available{
    background:#B781D8;
    color:var(--light-gray);
  }
  
  /********************************
  NOTIFICATION
  *****************/
  .notif {
    position: absolute;
    width: fit-content;
    padding: 1em;
    border-radius: 100%;
  }
  .plus-notif {
    background: var(--notif-green);
  }
  .minus-notif {
    background: var(--notif-red);
  }
  .notif-message {
    font-weight: 800;
    color: white;
    font-size: 1.5rem;
  }
  .animate__animated.animate__fadeOutUp {
    --animate-duration: 2.5s;
  }
  
  /*******************
  CARD SECTION
  *******************/
  
  .card {
    width: 180px;
    height: 240px;
    border-radius: 15px;
    perspective: 1000px;
    grid-column: span 1fr;
  }
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
  }
  .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
  }
  
  .back-card-top {
    justify-content: space-between;
  }
  .back-card-top img {
    opacity: 0.8;
    width: 30px;
  }
  .back-card-top p {
    font-weight: 800;
    font-size: 2.4rem;
    text-transform: uppercase;
  }
  .back-card-bottom {
    max-height: 100%;
    flex-direction: column;
    align-items: center;
    padding: 0.5em;
    text-align: center;
    gap: 25px;
    margin-top: 2em;
  }
  
  /********************************
  LIFE CARDS
  ***********/
  .life-card-front {
    border-radius: 15px;
    background-color: var(--main-red);
    border: 5px solid var(--border-red);
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
  }
  .life-card-front::before {
    border-radius: 10px;
    content: "";
    background-image: url(../images/red-card-overlay.jpg);
    background-size: cover;
    mix-blend-mode: overlay;
    opacity: 0.5;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
  .life-back-top p {
    color: var(--text-red);
  }
  .life-card-back {
    border: 5px solid var(--border-red);
    height: 100%;
    border-radius: 10px;
    background: var(--main-red);
    padding: 1em;
    transform: rotateY(180deg);
  }
  
  .life-back-bottom img {
    width: 70%;
    mix-blend-mode: overlay;
    filter: drop-shadow(8px 3px 0 #707070);
    margin-bottom:1.5em;
  }
  .life-back-bottom h3 {
    color: var(--text-red);
    font-size: 2.4rem;
    text-transform: uppercase;
  }
  
  /********************************
  ENERGY CARDS
  ***********/
  
  .energy-card-front {
    border: 5px solid var(--border-green);
    border-radius: 9px;
    background-color: var(--main-green);
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
  }
  .energy-card-front::before {
    border-radius: 10px;
    content: "";
    background-image: url(../images/green-card-overlay.png);
    background-size: cover;
    mix-blend-mode: multiply;
    opacity: 0.7;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
  
  .energy-back-top p {
    color: var(--text-green);
  }
  .energy-card-back {
    border: 5px solid var(--border-green);
    border-radius: 10px;
    background: var(--main-green);
    padding: 1em;
    transform: rotateY(180deg);
  }
  
  .energy-back-bottom img {
    width: 70%;
    filter: drop-shadow(8px 3px 0 #4a8475);
    margin-bottom:1.5em;
  }
  .energy-back-bottom h3 {
    color: var(--text-green);
    font-size: 2.4rem;
    text-transform: uppercase;
  }
  
  /********************************
  COIN CARDS
  ***********/
  .coin-card-front {
    border: 5px solid var(--border-yellow);
    border-radius: 9px;
    background-color: var(--main-yellow);
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
  }
  .coin-card-front::before {
    border-radius: 10px;
    content: "";
    background-image: url(../images/yellow-card-overlay.png);
    background-size: cover;
    mix-blend-mode: overlay;
    opacity: 0.7;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
  
  .coin-back-top p {
    color: var(--text-yellow);
  }
  .coin-card-back {
    border: 5px solid var(--border-yellow);
    border-radius: 10px;
    background: var(--main-yellow);
    padding: 1em;
    transform: rotateY(180deg);
  }
  
  .coin-back-bottom img {
    width: 70%;
    filter: drop-shadow(8px 3px 0 #d4b061);
    margin-bottom:1.5em;
  }
  .coin-back-bottom h3 {
    color: var(--text-yellow);
    font-size: 2.4rem;
    text-transform: uppercase;
  }
  
  /********************************
  LIFE DMG CARDS
  ***********/
  .life-dmg-card-front {
    border: 5px solid var(--border-purple);
    border-radius: 9px;
    background-color: var(--main-purple);
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
  }
  .life-dmg-card-front::before {
    border-radius: 3px;
    content: "";
    background-image: url(../images/dmg-overlay.png);
    background-size: cover;
    mix-blend-mode: overlay;
    opacity: 0.7;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
  
  .life-dmg-back-top p {
    color: var(--text-purple);
  }
  .life-dmg-card-back {
    border: 5px solid var(--border-purple);
    border-radius: 10px;
    background: var(--main-purple);
    padding: 1em;
    transform: rotateY(180deg);
  }
  
  .life-dmg-back-bottom img {
    width: 70%;
    filter: drop-shadow(5px 3px 0 #62598a);
    margin-bottom:1.5em;
  }
  .life-dmg-back-bottom h3 {
    color: var(--text-purple);
    font-size: 2.4rem;
    text-transform: uppercase;
  }
  
  /* DECK CARD */
  .deck-card {
    display:flex;
    justify-content: center;
    align-items:center;
    flex-direction: column;
    width: 180px;
    height: 240px;
    border-radius: 15px;
    perspective: 1000px;
    grid-column: span 1fr;
    order:1;
    position: relative;
    border: 5px solid #222222;
    border-radius: 9px;
    background-color: #1F1F1F;
    
  }
  .deck-card::before {
    content: "";
    background-image: url(../images/draw-card-overlay.png);
    background-size: fill;
    mix-blend-mode: overlay;
    position: absolute;
    opacity: .5;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
  
  .deck-card h3{
    color:var(--light-gray);
    opacity:.5;
    font-size:3rem;
    font-weight: 800;
  }
  .deck-card p{
    color:var(--light-gray);
    font-size:3rem;
    font-weight:800;
  }